<% layout('layouts/boilerplate') -%>

<div class="card mt-5 mx-auto" style="width: 25rem;">
  <h3 class="offset-2 mt-2"><%=currAdmin.name%> </h3>
  <hr>
  <div class="card-body">
    <p class="card-text"><b>Designation:</b>&nbsp;&nbsp;admin</p>
    <p class="card-text"><b>username:</b>&nbsp;&nbsp;<%=currAdmin.username%> </p>
    <p class="card-text"><b>email:</b>&nbsp;&nbsp;<%=currAdmin.email%> </p>
    <p class="card-text"><b>phone no.:</b>&nbsp;&nbsp;<%=currAdmin.phone%> </p>
    <p class="card-text"><b>address:</b>&nbsp;&nbsp;<%=currAdmin.address%> </p>
  </div>
</div>